@font-face {
    font-family: sevenSegment;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/SevenSegment.ttf');
}

@font-face {
    font-family: pixeled;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Pixeled.ttf');
}

:root {
    --fig-drawing-ext-background-color: #d9d9d9;
    --fig-drawing-ext-text-color:#2a2a2a;
    --fig-drawing-ext-button-hover-color: #353c5f;
    --fig-drawing-ext-accent-color: #889595;
}

#figure-drawing-extension-controls {
    background-color: var(--fig-drawing-ext-background-color);
    margin: 30px 20px 30px 20px;
    padding: 22px 26px 22px 26px;
    width: 615px;
    height: 209px;
    color: var(--fig-drawing-ext-text-color);
    font-family: 'Montserrat', sans-serif;
    cursor: 'pointer';
    z-index: '9999';
    border: 3px solid var(--fig-drawing-ext-text-color);
    border-radius: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#figure-drawing-extension-controls h1 {
    text-transform: uppercase;
}

/* LHS Controls - Time display */
#figure-drawing-extension-lhs-controls {
    grid-column: 1 / 3;
    /* border: 1px solid #08ff8c; */
}

#figure-drawing-extension-time-display {
    border: 2px solid var(--fig-drawing-ext-text-color);
    border-radius: 10px;
    box-shadow: 0px 5px 0px var(--fig-drawing-ext-accent-color);
    width: 100%;
    height: fit-content;
}

#figure-drawing-extension-time-display h1 {
    font-family: sevenSegment;
    font-size: 96px;
    text-align: center;
}

/* RHS Controls */
#figure-drawing-extension-rhs-controls {
    grid-column: 3;
    margin: auto;
    /* border: 1px solid #08ff8c; */
    text-align: center;;
}

#figure-drawing-extension-selection-controls{
    margin-bottom: 10px;
}

#figure-drawing-extension-selection-controls h1 {
    font-family: pixeled;
    font-size: 8px;
}

.figure-drawing-extension-select {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.figure-drawing-extension-selection-level-bar {
    width: 127px;
    height: 18px;
    display: inline-block;
    border: 3px solid var(--fig-drawing-ext-text-color);
}

.figure-drawing-extension-select-button {
    border: none;
    outline: none;
    display: inline-block;
    width: 19px;
    height: 18px;
    color: var(--fig-drawing-ext-background-color);
    background-color: var(--fig-drawing-ext-text-color);
}

.figure-drawing-extension-select-button:hover {
    background-color: var(--fig-drawing-ext-button-hover-color);
}

#figure-drawing-extension-control-buttons {
    display: inline-block;
    margin-bottom: 19px;
}

.figure-drawing-extension-control-button {
    border: none;
    outline: none;
    width: 43px;
    height: 41px;
    color: var(--fig-drawing-ext-background-color);
    background-color: var(--fig-drawing-ext-text-color);
    margin: 7px;
    box-shadow: 0px 5px 0px var(--fig-drawing-ext-accent-color);
}

.figure-drawing-extension-control-button:hover {
    background-color: var(--fig-drawing-ext-button-hover-color);
}

.figure-drawing-extension-main-button {
    border: none;
    outline: none;
    box-shadow: 0px 5px 0px var(--fig-drawing-ext-accent-color);
    background-color: var(--fig-drawing-ext-text-color);
    color: var(--fig-drawing-ext-background-color);
    width: 100%;
    border-radius: 7px;
    text-transform: uppercase;
    font-family: pixeled;
    font-size:13px;
    padding: 8px 0px 13px 0px;
}

.figure-drawing-extension-main-button:hover {
    background-color: var(--fig-drawing-ext-button-hover-color);
    -webkit-animation: btnWiggle 5s none;
    -moz-animation: btnWiggle 5s none;
    -o-animation: btnWiggle 5s none;
    animation: btnWiggle 5s none;
}

/* animation */
@-webkit-keyframes btnWiggle {
	0% {-webkit-transform: rotate(0deg);}
	2% {-webkit-transform: rotate(-1deg);}
	3.5% {-webkit-transform: rotate(1deg);}
	5% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(0deg);}
}
@-o-keyframes btnWiggle {
	0% {-webkit-transform: rotate(0deg);}
	2% {-webkit-transform: rotate(-1deg);}
	3.5% {-webkit-transform: rotate(1deg);}
	5% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(0deg);}
}
@keyframes btnWiggle {
	0% {-webkit-transform: rotate(0deg);}
	2% {-webkit-transform: rotate(-1deg);}
	3.5% {-webkit-transform: rotate(1deg);}
	5% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(0deg);}
}

#figure-drawing-extension-progress-bar {
    margin-top: 10px;
    border: 2px solid var(--fig-drawing-ext-text-color);
    width: 100%;
    height: 27px;
    border-radius: 6px;
}

#figure-drawing-extension-theme-button {
    border: none;
    outline: none;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 13px;
    bottom: 16px;
    transition: all .1s ease-in-out;
}

#figure-drawing-extension-theme-button:hover {
    transform: scale(1.1);
}

#figure-drawing-extension-theme-button-icon {
    max-width: 22px;
    max-height: 22px;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

}

#figure-drawing-extension-close-button {
    border: none;
    outline: none;
    background-color: transparent;
    max-width: 22px;
    max-height: 22px;
}

#figure-drawing-extension-frame-interval-preview {
    font-family: pixeled;
    border: 2px solid var(--fig-drawing-ext-text-color);
    width: fit-content;
    margin: 0 auto;
    margin-top: 10px;
    padding: 8px;
}