
.clear {
	clear: both;
}

.display-container.display-size-12 {
	margin-bottom: 24px;
}

.display-container {
	position: relative;
	margin-right: 24px;
	float: left;
}

.display-container div.segment-x,
.display-container div.segment-y {
	position: absolute;
}

.display-container span.segment-border {
	display: block;
	position: absolute;
}

.display-container.display-size-12 {
	width: 122px;
	height: 220px;
}

.display-container.display-size-12 .segment-x {
	width: 72px;
	left: 13px;
	border-bottom: 12px solid #242a2a;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}

.display-container.display-size-12 .segment-x .segment-border {
	top: 12px;
	left: -12px;
	right: -12px;
	border-top: 12px solid #242a2a;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}

.display-container.display-size-12 .segment-y {
	height: 72px;
	width: 0;
	border-right: 12px solid #242a2a;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

.display-container.display-size-12 .segment-y .segment-border {
	position: relative;
	left: 12px;
	height: 72px;
	margin-top: -12px;
	border-left: 12px solid #242a2a;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

.display-container.display-size-12 .segment-a {
	top: 0;
}

.display-container.display-size-12 .segment-b {
	top: 13px;
	left: 74px;
}

.display-container.display-size-12 .segment-c {
	top: 88px;
	left: 74px;
}

.display-container.display-size-12 .segment-d {
	top: 150px;
}

.display-container.display-size-12 .segment-e {
	top: 88px;
	left: 0px;
}

.display-container.display-size-12 .segment-f {
	top: 13px;
	left: 0px;
}

.display-container.display-size-12 .segment-g {
	top: 74px;
}

.display-no-1 .segment-a,
.display-no-1 .segment-d,
.display-no-1 .segment-e,
.display-no-1 .segment-f,
.display-no-1 .segment-g {
	/*display: none;*/
	opacity: 0.1;
	filter: alpha(opacity=10);
}

.display-no-2 .segment-c,
.display-no-2 .segment-f {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-3 .segment-e,
.display-no-3 .segment-f {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-4 .segment-a,
.display-no-4 .segment-d,
.display-no-4 .segment-e {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-5 .segment-b,
.display-no-5 .segment-e {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-6 .segment-b {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-7 .segment-d,
.display-no-7 .segment-e,
.display-no-7 .segment-f,
.display-no-7 .segment-g {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-8 {}

.display-no-9 .segment-e {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-0 .segment-g {
	/*display: none;*/
	opacity: 0.1;
}

/* clock */

#display-2, #display-4 {
	margin-right: 60px;
}

#vertical-center {
	position: absolute;
	height: 0;
	/* top: 50%; */
	/* left: 50%; */
}

#clock-container {
    margin: 10px;
	width: 924px;
	height: 220px;
}

#clock-container .display-container:last-child {
	margin: 0;
}

#clock-container:after {
	display: block;
	content: '.';
	visibility: hidden;
	clear: both;
}

#figure-drawing-extension-controls {
    background-color: #ffffff;
    margin: 30px 20px 30px 20px;
    width: 700px;
    height: 200px;
    color: #463f3a;
    font-family: 'Montserrat', sans-serif;
    cursor: 'pointer';
    z-index: '9999';
    border: #242a2a;
    border-style: solid;
    border-radius: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#figure-drawing-extension-controls h1 {
    font-size: medium;
    text-transform: uppercase;
}

#time-display {
    grid-column: 1;
    transform: scale(0.3);
    border: 1px solid #000;
}

#figure-drawing-extension-selection-controls {
    grid-column: 3;
}

.figure-drawing-extension-select {
    display: inline-block;
}

.figure-drawing-extension-selection-level-bar {
    width: 160px;
    height: 20px;
    border: 3px solid #000;
    background-color: #F2312F;
    display: inline-block;
}

.figure-drawing-extension-select-button {
    display: inline-block;
}

